PORT = 8080

# Db connection
DB_HOST=localhost
DB_PORT=5432
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=your_db_name

# JWT Secret
ACCESS_TOKEN_SECRET=your_jwt_secret

# Token durations
ACCESS_TOKEN_DURATION_MS=900000 # 15 minutes
REFRESH_TOKEN_DURATION_MS=604800000 # 7 days
CONFIRMATION_TOKEN_DURATION_MS=86400000 # 24 hours